.blog-heading{
    // &__hero{}
    &__title{
        font-size: 4rem;
        font-weight: 600;
    }
}

.blog-posts{
    padding: 0 10rem;
    &__heading{
        width: 91%;
        margin: 5rem auto;
        color: $color-lighter-black;
    }
    &__title{
        @include medium-font;
    }
    &__grid{
        width: 90%;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
        grid-template-rows: auto;
        grid-gap: 5rem;
        justify-items: center;
    }
}