.header__page-alt {
    background-image: url(../images/bg-heroPages1.png);
    position: relative;
    background-size: cover;
    background-repeat: round;
    height: max-content;
}
.blog-heading{
    // &__hero{}
    text-align: center;
    &__title{
        font-size: 4rem;
        font-weight: 600;
        padding: 8rem;
        color: $primary;
    }
}

.blog-posts{
    padding: 0 10rem;
    @include responsive(phone){
        padding: 0;
    }
    &__heading{
        width: 91%;
        margin: 5rem auto;
        color: $color-lighter-black;
        @include responsive(small-desktop ) {
            text-align: center;
        }
    }
    &__title{
        @include medium-font;

    }
    &__grid{
        width: 90%;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
        grid-template-rows: auto;
        grid-gap: 5rem;
        justify-items: center;
    }
}


.pagination {
    padding: 10rem;
    &-container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        
    }

    &__icon{
        text-align: center;
        padding: 1.2rem;
        font-size: 1.6rem;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 1rem;
        }
        &:first-child{
        background-color: $secondary-variant;
        color: white;
        }
        background-color: $color-grey-light-3;
        width: 5rem;
        height: 5rem;
        border-radius: 10rem;

    }
}