// version DESKTOP //
@media (min-width: 1200px){
.contact {    
    background-image: url("../images/bg-offer.png");
    background-size: cover;
    background-repeat: round;
    margin-left: auto;
    margin-right: auto;
    &__title {
        font-size: 120px;
        color: $opacity;
        margin-left: 250px;
        margin-bottom: 16px;
    }
    &__subtitle {
        margin-left: auto;
        margin-right: auto;
        width: 64%;
        font-size: 40px;
        color: $primary;
        margin-bottom: 56px;
        border-left: 8px solid $primary;
        padding-left: 16px;
        line-height: 1.4em;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 33% 34% 33%;
        grid-template-rows: 100%;
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }
}

.wrapper {
    &__tel {
        grid-area: 1/1;
        &--title {
            font-size: 16px;
            text-align: center;
        }
        &--icon {
            height: 80px;
            margin-bottom: 8px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &--para {
            text-align: center;
            width: 72%;
            margin: 20px auto;
            line-height: 1.6em;
            font-weight: 500;
            font-size: 18px;
            font-family: Nunito,sans-serif;
        }
        &--num {
            display: block;
            text-align: center;
            text-decoration: none;
            color:$secondary-variant;
            font-weight: bolder;
            font-size: 16px;

        }
        &--num:hover{
            color: $primary;
        }
    }
    &__email {
        grid-area: 1/2;
        &--title {
            font-size: 16px;
            text-align: center;
        }
        &--icon {
            height: 80px;
            margin-bottom: 8px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &--para {
            text-align: center;
            width: 72%;
            margin: 20px auto;
            line-height: 1.6em;
            font-weight: 500;
            font-size: 18px;
            font-family: Nunito,sans-serif;
        }
        &--ema {
            display: block;
            text-align: center;
            text-decoration: none;
            color:$secondary-variant;
            font-weight: bolder;
            font-size: 16px;
        }
        &--ema:hover{
            color: $primary;
        }
    }
    &__local {
        grid-area: 1/3;
        &--title {
            font-size: 16px;
            text-align: center;
        }
        &--icon {
            height: 80px;
            margin-bottom: 8px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        &--para {
            text-align: center;
            width: 72%;
            margin: 20px auto;
            line-height: 1.6em;
            font-weight: 500;
            font-size: 18px;
            font-family: Nunito,sans-serif;
        }
        &--dest {
            display: block;
            text-align: center;
            text-decoration: none;
            color:$secondary-variant;
            font-weight: bolder;
            font-size: 16px;
        }
        &--dest:hover{
            color: $primary;
        }
    }
}


.contact{
    &__container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        margin: 120px auto;
        max-width: 88%;
    }
    &__label{
        display: block;
    }
    &__form{
        border: 1px solid $primary;
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 8px;
        &--title{
            font-size: 24px;
            color: $primary;
            margin-top: 32px;
            margin-bottom: 48px;
        }
    }
}

.text-danger{
    color: $error;
    }

form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
}

.form{
    &__label1{
        grid-area: 1/1;
        label{
            font-size: 16px;
            font-weight: 600;
            display: block;
        }
        img{
            position: absolute;
            margin-top: 28px;
            margin-left: 11px;
        }
        input{
            font-size: 16px;
            margin-top: 20px;
            padding-left: 40px;
            height: 42px;
            width: 90%;
            border: 1px solid black;
        }
    }
    &__label2{
        grid-area: 1/2;
        label{
            font-size: 16px;
            font-weight: 600;
            display: block;
        }
        img{
            margin-top: 32px;
            margin-left: 11px;
            position: absolute
        }
        input{
            font-size: 16px;
            padding-left: 40px;
            height: 42px;
            margin-top: 20px;
            width: 100%;
            border: 1px solid black;

        }

    }
    &__label3{
        margin-top: 20px;
        grid-column: 1/3;
        label{
            font-size: 16px;
            font-weight: 600;
            display: block;
        }
        input{
            font-size: 16px;
            padding-left: 40px;
            margin-top: 20px;
            width: 100%;
            height: 42px;
            border: 1px solid black;
        }
        img{
            margin-top: 28px;
            margin-left: 11px;
            position: absolute;
        }
    }
    &__label4{
        margin-top: 40px;
        grid-column: 1/3;
        label{
            font-size: 16px;
            font-weight: 600;
            display: block;
        }
        textarea{
            font-size: 16px;
            padding-top: 12px;
            padding-left: 40px;
            padding-right: 24px;
            margin-top: 20px;
            width: 100%;
            height: 120px;
            border: 1px solid black;   
        }
        img{
            margin-top: 32px;
            margin-left: 11px;
            position: absolute;
        }
    }
}


.bgImg{
    margin: auto;
    img{
        width: 90%;
        height: auto;
        margin: auto;
        display: block;
    }
}
}
// version DESKTOP END //

@media (min-width: 320px) and (max-width: 480px){
    .contact{
        background-image: url("../images/bg-offer.png");
        background-size: cover;
        background-repeat: space;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        &__title{
            color: $opacity;
            margin: 0px 64px;
            font-size: 40px;
        }
        &__subtitle{
            margin-top: 16px;
            margin-left: 80px;
            margin-bottom: 40px;
            line-height: 1.4em;
            font-size: 16px;
            width: 72%;
            border-left: 4px solid $primary;
            padding-left: 8px;
        &__wrapper {
            display: grid;
            grid-template-rows: 33% 33% 33%;
            grid-template-columns: 100%;
        }
    }

    .wrapper {
        &__tel {
            grid-area: 1/1;
            padding-bottom: 80px;
            margin: auto;
            &--title {
                font-size: 16px;
                text-align: center;
            }
            &--icon {
                height: 80px;
                margin-bottom: 8px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            &--para {
                text-align: center;
                width: 80%;
                margin: 20px auto;
                line-height: 1.6em;
                font-weight: 500;
                font-size: 16px;
                font-family: Nunito,sans-serif;
            }
            &--num {
                display: block;
                text-align: center;
                text-decoration: none;
                color:$secondary-variant;
                font-weight: bolder;
                font-size: 16px;
    
            }
            &--num:hover{
                color: $primary;
            }
        }
        &__email {
            margin: auto;
            grid-area: 2/1;
            padding-bottom: 80px;
            &--title {
                font-size: 16px;
                text-align: center;
            }
            &--icon {
                height: 80px;
                margin-bottom: 8px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            &--para {
                text-align: center;
                width: 80%;
                margin: 20px auto;
                line-height: 1.6em;
                font-weight: 500;
                font-size: 16px;
                font-family: Nunito,sans-serif;
            }
            &--ema {
                display: block;
                text-align: center;
                text-decoration: none;
                color:$secondary-variant;
                font-weight: bolder;
                font-size: 16px;
            }
            &--ema:hover{
                color: $primary;
            }
        }
        &__local {
            margin: auto;
            grid-area: 3/1;
            padding-bottom: 56px;
            &--title {
                font-size: 16px;
                text-align: center;
            }
            &--icon {
                height: 80px;
                margin-bottom: 8px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            &--para {
                text-align: center;
                width: 72%;
                margin: 20px auto;
                line-height: 1.6em;
                font-weight: 500;
                font-size: 16px;
                font-family: Nunito,sans-serif;
            }
            &--dest {
                display: block;
                text-align: center;
                text-decoration: none;
                color:$secondary-variant;
                font-weight: bolder;
                font-size: 16px;
            }
            &--dest:hover{
                color: $primary;
            }
        }
    }
    .contact{
        &__container{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 28% 68%;
            margin: 20px auto;
            max-width: 88%;
        }
        &__label{
            display: block;
        }
        &__form{
            border: 1px solid $primary;
            padding-left: 24px;
            padding-right: 24px;
            border-radius: 8px;
            margin: 32px 10px;
            grid-area: 2/1;
            height: max-content;
            &--title{
                font-size: 24px;
                color: $primary;
                margin-top: 32px;
                margin-bottom: 48px;
            }
            
        }
    }
    .text-danger{
        color: $error;
        }


    form{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 20% 20% 20% 20%;
    }

    .form{
        &__label1{
            display: block;
            grid-area: 1/1;
            text-align: left;
            margin-bottom: 24px;
            label{
                font-size: 16px;
                font-weight: 600;
                display: block;
            }
            img{
                position: absolute;
                margin-top: 14px;
                margin-left: 12px;          
            }
            input{
                font-size: 16px;
                margin-top: 8px;
                padding-left: 40px;
                height: 32px;
                width: 100%;
                border: 1px solid black;
            }
        }
        &__label2{
            margin-bottom: 24px;
            display: block;
            grid-area: 2/1;
            text-align: left;
            label{
                font-size: 16px;
                font-weight: 600;
                display: block;
            }
            img{
                position: absolute;
                margin-top: 14px;
                margin-left: 12px;          
            }
            input{
                font-size: 16px;
                margin-top: 8px;
                padding-left: 40px;
                height: 32px;
                width: 100%;
                border: 1px solid black;
            }
        }
        &__label3{
            margin-bottom: 24px;
            display: block;
            grid-area: 3/1;
            grid-column: 1/3;
            text-align: left;
            label{
                font-size: 16px;
                font-weight: 600;
                display: block;
            }
            img{
                position: absolute;
                margin-top: 14px;
                margin-left: 12px;          
            }
            input{
                font-size: 16px;
                margin-top: 8px;
                padding-left: 40px;
                height: 32px;
                width: 100%;
                border: 1px solid black;
            }
        }
        &__label4{
            margin-bottom: 80px;
            display: block;
            grid-area: 4/1;
            text-align: left;
            label{
                font-size: 16px;
                font-weight: 600;
                display: block;
            }
            img{
                position: absolute;
                margin-top: 14px;
                margin-left: 12px;          
            }
            textarea{
                font-size: 16px;
                padding-top: 12px;
                padding-left: 40px;
                padding-right: 24px;
                width: 100%;
                height: 120px;   
                border: 1px solid black;
            }
        }
        &__btnSend{
            margin-bottom: 32px;
        }
    }
    
    .bgImg{
        margin: 0px;
        img{
            width: 72%;
            display: block;
            margin: auto;
        }
    }
    }
} 
// version MOBILE END //

@media (min-width: 600px)and (max-width: 1024px){
    .contact{
        background-image: url("../images/bg-offer.png");
        background-size: cover;
        background-repeat: round;
        margin-left: auto;
        margin-right: auto;
        &__title{
            color: $opacity;
            margin: 0px 14%;
            font-size: 12rem;
        }
        &__subtitle{
            margin-left: 18%;
            color: $primary;
            font-size: 3rem;
            border-left: 4px solid $primary;
            padding-left: 8px;
        }
        &__wrapper{
            display: grid;
            grid-template-columns: 33% 34% 33%;
            grid-template-rows: 100%;
            margin-top: 80px;
            margin-left: auto;
            margin-right: auto;
            max-width: 88%;
        }
    }

    .wrapper {
        &__tel {
            grid-area: 1/1;
            &--title {
                font-size: 16px;
                text-align: center;
            }
            &--icon {
                height: 80px;
                margin-bottom: 8px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            &--para {
                text-align: center;
                width: 80%;
                margin: 20px auto;
                line-height: 1.6em;
                font-weight: 500;
                font-size: 16px;
                font-family: Nunito,sans-serif;
            }
            &--num {
                display: block;
                text-align: center;
                text-decoration: none;
                color:$secondary-variant;
                font-weight: bolder;
                font-size: 14px;
    
            }
            &--num:hover{
                color: $primary;
            }
        }
        &__email {
            grid-area: 1/2;
            &--title {
                font-size: 16px;
                text-align: center;
            }
            &--icon {
                height: 80px;
                margin-bottom: 8px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            &--para {
                text-align: center;
                width: 80%;
                margin: 20px auto;
                line-height: 1.6em;
                font-weight: 500;
                font-size: 16px;
                font-family: Nunito,sans-serif;
            }
            &--ema {
                display: block;
                text-align: center;
                text-decoration: none;
                color:$secondary-variant;
                font-weight: bolder;
                font-size: 14px;
            }
            &--ema:hover{
                color: $primary;
            }
        }
        &__local {
            grid-area: 1/3;
            &--title {
                font-size: 16px;
                text-align: center;
            }
            &--icon {
                height: 80px;
                margin-bottom: 8px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            &--para {
                text-align: center;
                width: 80%;
                margin: 20px auto;
                line-height: 1.6em;
                font-weight: 500;
                font-size: 16px;
                font-family: Nunito,sans-serif;
            }
            &--dest {
                display: block;
                text-align: center;
                text-decoration: none;
                color:$secondary-variant;
                font-weight: bolder;
                font-size: 14px;
            }
            &--dest:hover{
                color: $primary;
            }
        }
    }

    .contact{
        &__container{
            display: grid;
            grid-template-columns: 56% 44%;
            grid-template-rows: 100%;
            width: 88%;
            margin: 40px auto;
        }
        &__label{
            display: block;
        }
        &__form{
            border: 1px solid $primary;
            padding-left: 24px;
            padding-right: 24px;
            border-radius: 8px;
            &--title{
                font-size: 24px;
                color: $primary;
                margin-top: 32px;
                margin-bottom: 48px;
            }
        }
    }

    form{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
    }
    .form{
        &__label1{
            grid-area: 1/1;
            label{
                font-size: 16px;
                font-weight: 600;
                display: block;
            }
            img{
                position: absolute;
                margin-top: 28px;
                margin-left: 11px;
            }
            input{
                font-size: 16px;
                margin-top: 20px;
                padding-left: 40px;
                height: 42px;
                width: 90%;
                border: 1px solid black;
            }
        }
        &__label2{
            grid-area: 1/2;
            label{
                font-size: 16px;
                font-weight: 600;
                display: block;
            }
            img{
                margin-top: 32px;
                margin-left: 11px;
                position: absolute
            }
            input{
                font-size: 16px;
                padding-left: 40px;
                height: 42px;
                margin-top: 20px;
                width: 100%;
                border: 1px solid black;
    
            }
    
        }
        &__label3{
            margin-top: 20px;
            grid-column: 1/3;
            label{
                font-size: 16px;
                font-weight: 600;
                display: block;
            }
            input{
                font-size: 16px;
                padding-left: 40px;
                margin-top: 20px;
                width: 100%;
                height: 42px;
                border: 1px solid black;
            }
            img{
                margin-top: 28px;
                margin-left: 11px;
                position: absolute;
            }
        }
        &__label4{
            margin-top: 40px;
            grid-column: 1/3;
            label{
                font-size: 16px;
                font-weight: 600;
                display: block;
            }
            textarea{
                font-size: 16px;
                padding-top: 12px;
                padding-left: 40px;
                padding-right: 24px;
                margin-top: 20px;
                width: 100%;
                height: 120px;   
                border: 1px solid black;
            }
            img{
                margin-top: 32px;
                margin-left: 11px;
                position: absolute;
            }
        }
    }
    .bgImg{
        margin: auto;
        img{
            width: 90%;
            height: auto;
            margin: auto;
            display: block;
        }
    }
    .text-danger{
        color: $error;
        }
}

// // version TABLETTE FIN //
    