// Desktop Version 

.getStarted{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
    &__title{
        font-size: 32px;
        color: $primary;
        margin-bottom: 20px;
        font-weight: 500;
    }
    &__subtitle{
        width: 64%;
        font-size: 16px;
        font-weight: 500;
        color: $color-orchid;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    &__bg{
        max-width: 1200px;
            }
}

// Desktop Version END

// Mobile Version
@media only screen and (max-width: 575px){
    .getStarted{
        &__subtitle{
            width: 80%;
        }
        &__bg{
            width: 100%;
        }
    }
}

// Mobile Version END

// Tablette Version
@media (min-width: 575px)and(max-width: 1024px){
    .getStarted{
        &__subtitle{
            width: 80%;
        }
        &__bg{
            width: 100%;
        }
    }
}

// Tablette Version END