// Desktop Version 
@media (min-width: 1200px){
.getStarted{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
    &__title{
        font-size: 32px;
        color: $primary;
        margin-bottom: 20px;
        font-weight: 500;
    }
    &__subtitle{
        width: 64%;
        font-size: 16px;
        font-weight: 500;
        color: $color-orchid;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    &__bg{
        max-width: 100%;
            }
}
}
// Desktop Version END

// Mobile Version
@media (min-width: 320px) and (max-width: 480px){
    .getStarted{
        display: block;
        margin-left: auto;
        margin-right: auto;
        &__title{
            font-size: 32px;
            text-align: center;
            font-weight: 500;
            color: $primary;
            margin-bottom: 20px;

        }
        &__subtitle{
            width: 90%;
            font-size: 16px;
            font-weight: 500;
            color: $color-orchid;
            margin-bottom: 40px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__bg{
            width: 100%;
        }
    }
}

// Mobile Version END

// Tablette Version
@media (min-width: 600px)and (max-width: 1024px){
    .getStarted{
        &__title{
            font-size: 32px;
            text-align: center;
            font-weight: 500;
            color: $primary;
            margin-bottom: 20px;

        }
        &__subtitle{
            width: 90%;
            font-size: 16px;
            font-weight: 500;
            color: $color-orchid;
            margin-bottom: 40px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        &__bg{
            width: 100%;
        }
    }
}

// Tablette Version END