.hero-header {
    background-image: url('../images/bg-Heroheader.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    height: 95vh;
    padding: 10rem;
    

    &__nav {
        display: flex;
        justify-content: space-between;

        .logo-box {
            &__img {
                width: 15rem;
            }
        }

        // .hamburger {}
    }

    &__main {
        // display: grid;
        // grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 8rem;
        @include responsive(tab-port) {
            justify-content: center;
            text-align: center;
        }

        &-text {
            font-family: 'Nunito', sans-serif;
            color: white;
        
            .heading {
                font-size: 5.9rem;
                line-height: 1.3;
                font-weight: 600;
                width: 80rem;
                @include responsive(tab-land) {
                    width: 100%;
                    display: inline-block;
                }
            }

            .sub-heading {
                color: #DDE4EE;
                font-size: 4rem;
                margin: 2rem 0;
                width: 61rem; 
                @include responsive(tab-land) {
                    width: 100%;
                    display: inline-block;
                }
                @include responsive(tab-port) {
                    margin: 2rem 0;
                }
            }
        }

    }
    .video-mask{
        // width: $videoratio;
        // height: calc((#{$videoratio} / 16rem)*9);
        @include videoratio(70rem);
        @include responsive(tab-port) {
            @include videoratio(50rem);
        }
        @include responsive(phone) {
            @include videoratio(40rem);
        }
        border-radius: 10px; 
        overflow: hidden;
        box-shadow: 0 19px 51px 0 rgba(0,0,0,0.16), 0 14px 19px 0 rgba(0,0,0,0.07);
    }
    &__video {
        // width: $videoratio;
        // height: calc((#{$videoratio} / 16rem)*9);
        @include videoratio(70rem);
        @include responsive(tab-port) {
            @include videoratio(50rem);
        }
        @include responsive(phone) {
            @include videoratio(40rem);
        }
    }
}