.learning-header{
    padding: 0 20rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    .latest-blog-post{
        &__imgbox{
            width: 90%;
            height: 50rem;
            border-radius: 6px;
            overflow: hidden;
        }
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__tag{}
        &__title{}
        &__description{}
    }

    .learning-list{
        &__item{
            &--post{
                &__imgbox{}
                &__img{ 
            width: 10rem;

                }
            }
            &--webinar{
                &__imgbox{}
            }
            &--report{
                &__imgbox{}
                &__img{}
            width: 10rem;

            }
        }

        &__info{
            &--tag{}
            &--title{}
        }
    }
}