// Desktop Version 

.objectives{
    margin-top: -120px;
    background-color: $background;
    &__title{
        text-align: center;
        color: $primary;
        font-size: 40px;
        font-weight: 500;
        padding-top: 40px;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50%;
        max-width: 1200px;
        margin: 80px auto;
        padding-bottom: 80px;
    }
    &__wrapper1{
        margin: auto;
    }
    &__wrapper2{
        margin: auto;
    }
    &__wrapper3{
        margin: auto;
    }
}

.wrapper{
    &__icon1,&__icon2,&__icon3{
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    &__para{
        font-size: 16px;
        text-align: center;
        width: 72%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;
        color: $primary-variant;
    }
}

// Desktop Version END

// Mobile Version
@media only screen and (max-width: 575px){
    .objectives{
        margin-top: -104px;
        &__wrapper{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 33% 33% 33%;
            margin: 40px auto 0px;
            padding-bottom: 8px;
        }
        &__title{
            font-size: 32px;
        }
        &__wrapper1{
            margin-bottom: 120px;
        }
    }
    .wrapper{
        &__icon1,&__icon2,&__icon3{
            width: 16%;
        }
    }
}