.single-post {
    padding: 10rem;

    // this section here is for post title tag, author and publish date
    &__header {
        text-align: center;
        font-family: 'poppins', sans-serif;
        margin-bottom: 10rem;
    }

    &__tag {
        font-size: 2.5rem;
        font-weight: 400rem;
        color: $secondary-variant;
        text-decoration: underline;
    }

    &__title {
        @include main-title;
        width: 40%;
        margin: 3rem auto;

        @include responsive(tab-port) {
            width: 80%;
        }

        @include responsive(phone) {
            width: 95%;
        }
    }

    &__name-author {
        font-size: $small-font-size;
        font-weight: 400;
        margin-top: 5rem;
    }

    &__published-at {
        font-size: $default-font-size;
        color: $color-grey-dark-2;
        margin-bottom: 5rem;

    }

    //this section here is reserved for posts photo and share links
    &__display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        &-img {
            height: 40rem;

            @include responsive(tab-port-1) {
                height: 37rem;

            }

            @include responsive(phone) {
                height: 30rem;
                margin-bottom: 4rem;
            }

            @include responsive(phone-1) {
                height: 25rem;

            }
        }

    }

    &__social {
        position: absolute;
        right: 20%;

        @include responsive(small-desktop) {
            right: 12%;
        }

        @include responsive(tab-land) {
            right: 5%;
        }

        @include responsive(tab-land-1) {
            right: -2%;
        }

        @include responsive(tab-port) {
            right: -5%;
        }

        @include responsive(tab-port-1) {
            bottom: -22%;
            right: 50%;
            transform: translateX(50%);
            width: max-content;
        }

        @include responsive(phone-1) {
            bottom: -30%;

        }

        &-icon {
            margin-bottom: 1rem;
            transition: $slide;

            @include responsive(tab-port-1) {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }

            &:hover {
                transform: scale(1.1);
            }

            &-img {
                width: 4rem;
            }
        }
    }

    //This section is for posts content

    &__content {
        padding-bottom: 5rem;
        max-width: 80rem;
        margin: 5rem auto;
        font-family: 'Nunito', sans-serif;

        @include responsive(phone) {
            margin: 10rem auto;
        }

        &-paragraph {
            &+h2 {
                margin-top: 6rem;
            }

            font-size: 2rem;
            font-weight: 300;
            color: $primary-variant;
        }

        &-subheading {
            font-size: 4rem;
            color: $color-lighter-black;
        }
    }

    //This section is for author mention
    &__author {

        display: flex;
        flex-flow: row wrap;
        max-width: 76rem;
        margin: 0 auto;
        justify-content: space-between;
        position: relative;
        padding: 5rem 0;

        &::before {
            content: "";
            display: block;
            width: 106%;
            height: 1px;
            background-color: #f0f0f0;
            position: absolute;
            top: 0;
            left: -2rem;
        }

        &-info {
            width: 50%;

            @include responsive(phone) {
                width: 80%;
            }

            &-imgbox {
                width: 10rem;
                height: 10rem;
                float: left;
                // border-radius: 50%;
                overflow: hidden;
                shape-outside: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
                transform: translate(-2rem, -2rem);
            }

            &-img {
                height: 100%;
            }
        }

        &-name {
            font-weight: 500;
        }

        &-occupation {
            font-family: 'Nunito', sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            color: $primary-variant;
        }

        &-contact {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 25%;
            transform: translateY(-2rem);

            @include responsive(tab-port-1) {
                width: 30%;
            }

            @include responsive(phone) {
                flex-direction: column;
                width: 20%;
                justify-content: space-around;
            }

            &>p {
                font-size: 1.5rem;
                font-weight: 300;
                color: $primary-variant;

                @include responsive(phone) {
                    display: none;
                }
            }

            &-img {
                width: 3rem;
            }
        }
    }
}

.mailbox-resources {
    padding: 0 10rem;
    margin: 5rem 0;
    @include responsive(tab-port-1) {
        padding: 0;
    }

    &__container {
        background-color: $color-black;
        color: white;
        padding: 8rem 16rem;
        border-radius: .5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include responsive(tab-land) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
        }

        @include responsive(tab-land-1) {
            padding-left: 8rem;
            padding-right: 8rem;
        }
    }

    &__heading {
        @include responsive(tab-land) {
            width: 60%;
            text-align: center;
            margin: 0 auto;
        }

        @include responsive(tab-land-1) {
            width: 100%;
        }
    }

    &__main {
        font-size: 4.5rem;
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    &__sub {
        font-size: $default-font-size;
        font-weight: 400;
    }

    &__form {
        justify-self: end;
        width: 70%;
        text-align: center;
        @include responsive(small-desktop) {
            width: 80%;
        }

        @include responsive(tab-land) {
            max-width: 70%;
            margin: 0 auto;
        }

        @include responsive(tab-land-1) {
            width: 100%;
        }

        .btn-subscribe--singlepost {
            @include responsive(phone) {
                width: 13rem;
                top: -2px;
            }

            @include responsive(phone-1) {
                left: -1rem;
            }

            @include responsive(big-desktop) {
                width: 15rem;
            }
        }
    }

    &__subscribe-input {
        height: 5rem;
        align-self: center;
        padding: 2rem;
        text-transform: uppercase;
        color: $color-white;
        border: 1px solid $primary-variant;
        border-radius: .5rem;
        background-color: $color-black;
        width: 50%;

        @include responsive(phone-1) {
            width: 57%;
        }
    }

    &__subscribe-sub {
        margin-top: 2rem;
        font-size: $default-font-size;
        font-weight: 300;
    }
}