.team {
    background-image: url("../images/bg-offer.png");
    position: relative;
    text-align: center;
    &__grid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;

      }
      &__block {
        width: 80%;
        margin-bottom: 40px;
      }
      &__title {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 120px;
        color: $opacity;
        text-align: left;
        margin-left: 250px;
      }
      &__subtitle{
        max-width: 1200px;
          margin-left: auto;
          margin-right: auto;
          width: 55%;
          font-size: 40px;
          color: $primary;
          margin-bottom: 56px;
          border-left: 8px solid $primary;
      }
  }
  
.team__block .team__box .box__image {
    position: relative;
    display: block;
    overflow: hidden;
    background: $secondary;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%, 0% 0%);
  }
  
.box__image .social-links {
    position: absolute;
    left:-40px;
    top: 15px;
    opacity: 0;
    transition: all 500ms ease;
  }
  
  .team__block:hover .team__box .box__image .social-links {
    left: 20px;
    opacity: 1;
  }
  
  .team__block .team__box .box__image .social-links li {
    position: relative;
    display: block;
    margin-bottom: 16px;
  }
  
  .team__block .team__box .box__image .social-links li:last-child {
    margin-bottom: 0;
  }
  
  .team__block .team__box .box__image .social-links li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: $color-white;
  }
  
  .team__block .team__box .box__image img {
    width: 100%;
    transition: all 500ms ease;
    vertical-align: middle;
    border-style: none;
  }
  
  .team__block .team__box:hover .box__image img {
    opacity: 0.2;
  }
  
  .team__block .team__box .team__infos {
    display: block;
    background-color: $color-white;
    border: 0.5px solid $color-black;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -72px;
  }
  
  .team__block .team__box .team__infos h5 {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 28px;
    color: $color_black;
    font-weight: 600;
    margin: 48px 0px 16px;
  }
  
  .team__block .team__box .team__infos .post {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: $secondary;
  }


  @media only screen and (max-width: 575px){
    .team{
      &__grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      }
      &__title{
        margin: 0px 48px;
        font-size: 80px;
      }
      &__subtitle{
        line-height: 1.4em;
        font-size: 24px;
        width: 80%;
      }
      &__block{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  @media (min-width: 575px)and(max-width: 1024px){
    .getStarted__bg{
      display: none;
    }

    .team{
      &__title{
        margin: 0px 80px;
      }
      &__subtitle{
        line-height: 1.4em;
        width: 80%;
      }
      &__block{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }