// Desktop Version 
.offer{
    background-image: url("../images/bg-offer.png");
    background-size: contain;
    background-repeat: round;
    &__title{
        text-align: center;
        color: $primary;
        font-size: 40px;
        font-weight: 500;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    &__titles {
        margin: 80px auto;
        max-width: 900px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;

    }

    &__wrapper {
        max-width: 1200px;
        margin: 80px auto;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 10% 67% 10%;

        &--img {
            grid-column: 1/2;
            grid-row: 1/3;
        }

        &--img img {
            width: 80%;
            margin: auto;
            grid-area: 1/2;
        }

        &--title {
            font-size: 24px;
            font-weight: 500;
        }

        &--para {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            color: $primary-variant;
            text-align: justify;
        }
    }

    &__more {
        grid-area: 3/2;
    }

    &__arrow {
        font-size: 24px;
        margin-left: 8px;
        cursor: pointer;
        color: $primary;
        text-decoration: none;
    }

    &__link {
        color: $primary;
        font-size: 24px;
        text-decoration: none;
        border-bottom: 2px solid $primary;
    }
}

.titles {
    &__title {
        margin: auto;
        font-size: 16px;
        font-weight: 400;
        color: $primary-variant;
        cursor: pointer;
    }
}

.active {
    font-weight: 600;
    color: $secondary-variant;
    text-decoration: underline;
}


// Desktop Version END


// Mobile Version
@media only screen and (max-width: 575px){
.offer{
    background-image: url("../images/bg-offer.png");
    background-size: cover;
    background-repeat: space;
    &__title{
        font-size: 32px;
        margin-top: 80px;
    }
    &__titles{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
        margin: 20px auto;
    }
    &__wrapper{
        margin: 20px auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 32% 56% 10%;
        &--title{
            grid-area: 1/1;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            margin: auto;
        }
        &--img{
            grid-area: 2/1;
        }
        &--img img{
            display: block;
            margin: auto;
            width: 50%;
        }
        &--para{
            grid-area: 3/1;
            font-size: 14px;
            line-height: 1.4em;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__more{
        grid-area: 4/1;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    &__link{
        font-size: 16px;
        font-weight: 600;
    }
    &__arrow{
        font-size: 16px;
        font-weight: 600;
    }

}

.titles{
    &__title{
        text-align: center;
        padding-bottom: 10px;
    }
}
}


// Mobile Version END

// Tablette Version
@media (min-width: 575px)and(max-width: 1024px){
.offer{
    margin-top: 166px;
    &__titles{
        margin: 40px auto;
    }
    &__wrapper{
        margin: 40px auto;
        max-width: 90%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 10% 80% 10%;
    }
}
.titles{
    &__title{
        font-size: 16px;
    }
}
}

// Tablette Version END