.getStarted{
    &__btn{
        border: none;
        border-radius: 8px;
        background-color: $secondary;
        color: $color-white;
        padding: 24px 144px;
        font-size: 16px;
        box-shadow: $default-shadow;
        margin-bottom: 80px;
    }
}